*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: cyan;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.mains{
    width: 100%;
    background: linear-gradient(to top, rgba(65, 22, 238, 0.5)50%,rgba(0,0,0,0.5)50%), url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.min{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.man{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(4.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.max{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(6.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.mat{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.mex{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(5.jpg);
    background-position: center;
    background-size: cover;
    height: 125vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 28px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 32px;
    margin-top: 28px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid or #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.container{
    width: 80%;
    height: 100%;
    margin: 5px auto 0;
    display: table;
    box-sizing: border-box;
}

.row{
    margin: 20px 0;
    border-left: 10px solid darkblue;
}

.column{
    display: table-cell;
    padding: 5px;
    width: 20%;
    text-align: center;
    color: cyan;
    vertical-align: middle;
    border-right: 10px solid darkblue;
}
.column a{
    color: burlywood;
}
.column a:hover{
    color: rgb(32, 24, 46);
}
.row:nth-child(1) .column:nth-child(1)
{
    background: peru;
}
.row:nth-child(1) .column:nth-child(2)
{
    background: olive;
}
.row:nth-child(1) .column:nth-child(3)
{
    background: palevioletred;
}
.row:nth-child(1) .column:nth-child(4)
{
    background: green;
}
.row:nth-child(1) .column:nth-child(5)
{
    background: blue;
}
.row:nth-child(2) .column:nth-child(1)
{
    background: red;
}
.row:nth-child(2) .column:nth-child(2)
{
    background: mediumorchid;
}
.row:nth-child(2) .column:nth-child(3)
{
    background: purple;
}
.row:nth-child(2) .column:nth-child(4)
{
    background: darkorange;
}
.row:nth-child(2) .column:nth-child(5)
{
    background: darkviolet;
}
.row:nth-child(3) .column:nth-child(1)
{
    background: slateblue;
}
.row:nth-child(3) .column:nth-child(2)
{
    background: orangered;
}
.row:nth-child(3) .column:nth-child(3)
{
    background: orchid;
}
.row:nth-child(3) .column:nth-child(4)
{
    background: darkkhaki;
}
.row:nth-child(3) .column:nth-child(5)
{
    background: darkred;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}



.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    color: yellow;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    font-family: Verdana;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.books{
    width: 450px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.books .par{
    padding-left: 30px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.books h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    color: yellow;
    padding-left: 20px;
    margin-top: 40%;
    letter-spacing: 2px;
}

.books .cn{
    width: 160px;
    height: 40px;
    background: yellow;
    border: none;
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.books .cn a{
    font-family: Verdana;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}
.contests{
    width: 450px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.contests .par{
    padding-left: 30px;
    padding-bottom: 25px;
    font-family: Arial;
    text-align: center;
    font-size: 19px;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.contests h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: center;
    color: yellow;
    padding-left: 20px;
    margin-top: 0%;
    letter-spacing: 2px;
}

.contests .cn{
    width: 160px;
    height: 40px;
    background: purple;
    border: none;
    margin-bottom: 10px;
    margin-left: 170px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.contests .cn a{
    font-family: Verdana;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.articles{
    width: 450px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.articles .par{
    padding-left: 100px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.articles h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    color: yellow;
    text-align: center;
    padding-left: 30px;
    margin-top: 0%;
    letter-spacing: 2px;
}

.images .par{
    padding-left: 100px;
    padding-bottom: 25px;
    font-family: Arial;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.images h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    color: yellow;
    text-align: center;
    padding-left: 30px;
    margin-top: 0%;
    letter-spacing: 2px;
}

.form{
    width: 250px;
    height: 310px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.fmsu{
    width: 250px;
    height: 430px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.fmsu h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.fmsu input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
.fmsu input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.fmsu .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.fmsu .link a{
    text-decoration: none;
    color: #ff7200;
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');